<div class="index-wrapper">
  <form action="/" method="POST">
    <legend>Log In</legend>
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="email" name="email" autofocus />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" autofocus />
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
  </form>
  <a href="/forgot">Forgot your password?</a>
</div>