/***
  COLOR PALLETTE
***/
/* Grey scale */
/* Other Colors */
/* Container colors */
/* Element colors */
/* --------------------- */
/***
  MEASUREMENTS
***/
/* Media query breakpoints */
/* Container measurements */
/* Element measurements */
/* --------------------- */
/***
  FONTS
***/
@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 900;
  src: local("Roboto-Black"), url(../../fonts/Roboto-Black.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local("Roboto-BlackItalic"), url(../../fonts/Roboto-BlackItalic.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 800;
  src: local("Roboto-Bold"), url(../../fonts/Roboto-Bold.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 800;
  src: local("Roboto-BoldItalic"), url(../../fonts/Roboto-BoldItalic.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto-Italic"), url(../../fonts/Roboto-Italic.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto-Light"), url(../../fonts/Roboto-Light.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local("Roboto-LightItalic"), url(../../fonts/Roboto-LightItalic.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: medium;
  font-weight: 500;
  src: local("Roboto-Medium"), url(../../fonts/Roboto-Medium.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local("Roboto-MediumItalic"), url(../../fonts/Roboto-MediumItalic.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto-Regular"), url(../../fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: thin;
  font-weight: 200;
  src: local("Roboto-Thin"), url(../../fonts/Roboto-Thin.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 200;
  src: local("Roboto-ThinItalic"), url(../../fonts/Roboto-ThinItalic.ttf); }
.OrderParts-wrapper {
  border: solid 1px transparent; }
  .OrderParts-wrapper .OrderParts-titles {
    padding-top: 2.25em;
    display: inline-block;
    width: 100%; }
    .OrderParts-wrapper .OrderParts-titles div {
      width: calc(23% - 3px);
      display: inline-block;
      text-align: center;
      border-bottom: solid 1px black; }
      .OrderParts-wrapper .OrderParts-titles div.shipped {
        width: calc(11% - 3px);
        font-size: 1em; }
      .OrderParts-wrapper .OrderParts-titles div.machine_serial_num {
        width: calc(22% - 3px); }
      .OrderParts-wrapper .OrderParts-titles div.quantity {
        width: calc(15% - 3px); }
      .OrderParts-wrapper .OrderParts-titles div.price-unit {
        width: calc(11.5% - 3px); }
      .OrderParts-wrapper .OrderParts-titles div.price-total {
        width: calc(17.5% - 3px); }
      .OrderParts-wrapper .OrderParts-titles div:not(:last-child) {
        border-right: solid 1px black; }
  .OrderParts-wrapper .OrderParts-final {
    font-size: 14px;
    width: 100%;
    display: inline-block; }
    .OrderParts-wrapper .OrderParts-final div {
      display: inline-block;
      text-align: center;
      padding-bottom: 0.2em;
      margin-bottom: 0; }
    .OrderParts-wrapper .OrderParts-final .spacer {
      width: calc(17.75% - 2px); }
    .OrderParts-wrapper .OrderParts-final #spacer5 {
      border-right: 0;
      text-align: right;
      color: black;
      background-color: #D7D7D7;
      width: calc(11.5% - 2px); }
    .OrderParts-wrapper .OrderParts-final .price {
      width: calc(17.5% - 2px);
      background-color: #D7D7D7; }
  .OrderParts-wrapper .OrderParts-discount {
    width: 100%;
    display: inline-block;
    font-size: 14px; }
    .OrderParts-wrapper .OrderParts-discount div {
      display: inline-block;
      text-align: center;
      padding-bottom: 0.25em;
      padding-top: 0.15em;
      color: black; }
    .OrderParts-wrapper .OrderParts-discount .spacer {
      width: calc(17.75% - 2px); }
      .OrderParts-wrapper .OrderParts-discount .spacer#spacer5 {
        text-align: right;
        background-color: #66BB6A;
        width: calc(11.5% - 2px); }
    .OrderParts-wrapper .OrderParts-discount .discount {
      background-color: #66BB6A;
      width: calc(17.5% - 2px); }
  .OrderParts-wrapper .OrderParts-total {
    padding-bottom: 1em;
    font-size: 14px;
    width: 100%;
    display: inline-block; }
    .OrderParts-wrapper .OrderParts-total div {
      display: inline-block;
      text-align: center;
      padding-bottom: 0.25em;
      padding-top: 0.25em;
      margin-bottom: 0; }
    .OrderParts-wrapper .OrderParts-total .spacer {
      width: calc(17.75% - 2px); }
      .OrderParts-wrapper .OrderParts-total .spacer#spacer5 {
        text-align: right;
        background-color: #B9B9B9;
        width: calc(11.5% - 2px); }
    .OrderParts-wrapper .OrderParts-total .final {
      background-color: #B9B9B9;
      width: calc(17.5% - 2px); }

.OrderPart {
  outline: solid 1px transparent;
  line-height: 1.4em;
  height: calc(auto + 100px); }
  .OrderPart .content-wrapper {
    font-size: 13px; }
    .OrderPart .content-wrapper .details {
      display: inline-block;
      width: 100%; }
      .OrderPart .content-wrapper .details div {
        display: inline-block;
        width: calc(23% - 3px);
        text-align: center;
        border-bottom: solid 1px #B9B9B9; }
        .OrderPart .content-wrapper .details div.shipped {
          width: calc(11% - 3px); }
          .OrderPart .content-wrapper .details div.shipped a {
            display: block;
            width: 100%;
            cursor: pointer; }
          .OrderPart .content-wrapper .details div.shipped .done {
            color: transparent;
            background-image: url("../../img/done.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            min-width: 14px;
            border-bottom: none; }
        .OrderPart .content-wrapper .details div.machine_serial_num {
          width: calc(22% - 3px); }
        .OrderPart .content-wrapper .details div.quantity {
          width: calc(15% - 3px); }
        .OrderPart .content-wrapper .details div.price-unit {
          position: relative;
          width: calc(11.5% - 3px); }
        .OrderPart .content-wrapper .details div.price-total {
          position: relative;
          width: calc(17.5% - 3px); }
          .OrderPart .content-wrapper .details div.price-total .status {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none; }
            .OrderPart .content-wrapper .details div.price-total .status div {
              border: none; }
            .OrderPart .content-wrapper .details div.price-total .status button {
              margin: 0.1em 0;
              float: right;
              margin-right: 0.5em; }
          .OrderPart .content-wrapper .details div.price-total .AddPriceForm {
            position: absolute;
            display: inline-block;
            top: 1.4em;
            left: 0;
            width: 100%;
            height: 4em;
            z-index: 100; }
            .OrderPart .content-wrapper .details div.price-total .AddPriceForm .input-button-wrapper {
              position: relative;
              background-color: #D7D7D7;
              width: 100%;
              height: 100%;
              border: none; }
              .OrderPart .content-wrapper .details div.price-total .AddPriceForm .input-button-wrapper button {
                position: absolute;
                bottom: 0.2em;
                right: 0.4em; }
              .OrderPart .content-wrapper .details div.price-total .AddPriceForm .input-button-wrapper .Input {
                border: none;
                display: block;
                position: absolute;
                top: 0.4em;
                left: 0;
                right: 0;
                width: 100%; }
        .OrderPart .content-wrapper .details div:not(:last-child) {
          border-right: solid 1px black; }

/*# sourceMappingURL=OrderPart.css.map */
