/***
  COLOR PALLETTE
***/
/* Grey scale */
/* Other Colors */
/* MD Colors */
/* Blues */
/* Container colors */
/* Element colors */
/* --------------------- */
/***
  MEASUREMENTS
***/
/* Media query breakpoints */
/* Container measurements */
/* Element measurements */
/* --------------------- */
/***
  FONTS
***/
@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 900;
  src: local("Roboto-Black"), url(../../fonts/Roboto-Black.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local("Roboto-BlackItalic"), url(../../fonts/Roboto-BlackItalic.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 800;
  src: local("Roboto-Bold"), url(../../fonts/Roboto-Bold.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 800;
  src: local("Roboto-BoldItalic"), url(../../fonts/Roboto-BoldItalic.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto-Italic"), url(../../fonts/Roboto-Italic.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto-Light"), url(../../fonts/Roboto-Light.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local("Roboto-LightItalic"), url(../../fonts/Roboto-LightItalic.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: medium;
  font-weight: 500;
  src: local("Roboto-Medium"), url(../../fonts/Roboto-Medium.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local("Roboto-MediumItalic"), url(../../fonts/Roboto-MediumItalic.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto-Regular"), url(../../fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: thin;
  font-weight: 200;
  src: local("Roboto-Thin"), url(../../fonts/Roboto-Thin.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 200;
  src: local("Roboto-ThinItalic"), url(../../fonts/Roboto-ThinItalic.ttf); }
.OrderSubList {
  background-color: #F6F6F6;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  width: 96%;
  margin: 0.5em auto;
  padding-bottom: 0.2em; }
  .OrderSubList.hidden {
    display: none; }
  .OrderSubList:not(:first-child) {
    margin-top: 1.1em; }
  .OrderSubList .header {
    font-size: 1.2em;
    background-color: #D7D7D7;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: #000000;
    text-align: center;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    width: 100%; }
    .OrderSubList .header span {
      display: inline-block;
      margin: auto;
      width: 54%;
      padding-bottom: 0.15em;
      border-bottom: solid 1px #000000;
      text-transform: uppercase; }
    .OrderSubList .header.status-type-header {
      position: relative; }
      .OrderSubList .header.status-type-header .reveal-hide-button-wrapper {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 1.6rem;
        bottom: 0;
        display: flex;
        align-items: center; }
        .OrderSubList .header.status-type-header .reveal-hide-button-wrapper button {
          cursor: pointer;
          border: none;
          background-color: transparent;
          text-align: center;
          color: #3D3D3D; }
          .OrderSubList .header.status-type-header .reveal-hide-button-wrapper button span {
            text-align: center;
            border: none;
            width: 100%; }
            .OrderSubList .header.status-type-header .reveal-hide-button-wrapper button span i {
              font-size: 2.4rem; }
          .OrderSubList .header.status-type-header .reveal-hide-button-wrapper button:focus {
            outline: none; }
          .OrderSubList .header.status-type-header .reveal-hide-button-wrapper button:hover {
            color: #7B7B7B; }
  .OrderSubList .show-more-button-wrapper {
    width: 100%;
    margin: auto;
    margin-top: 1em;
    padding-bottom: 0.6em;
    text-align: center; }
    .OrderSubList .show-more-button-wrapper button {
      border: none;
      cursor: pointer;
      color: #72C3F1;
      background-color: transparent;
      text-decoration: underline;
      font-size: 15px;
      font-weight: 600; }
      .OrderSubList .show-more-button-wrapper button:focus {
        outline: none; }
      .OrderSubList .show-more-button-wrapper button:hover {
        color: #2AAAF3;
        border: none; }
      .OrderSubList .show-more-button-wrapper button.show-less-button {
        font-size: 0.8em;
        color: #9A9A9A; }
        .OrderSubList .show-more-button-wrapper button.show-less-button:hover {
          color: #5C5C5C; }

.OrderSubList-transition-enter {
  transition: all 350ms ease-in-out;
  max-height: 0;
  opacity: 0.01; }

.OrderSubList-transition-enter-active {
  max-height: 300px;
  opacity: 1; }

.OrderSubList-transition-leave {
  transition: all 350ms ease-in-out;
  opacity: 1;
  max-height: 300px; }

.OrderSubList-transition-leave-active {
  max-height: 0;
  opacity: 0.01; }

@media screen and (min-width: 1150px) {
  .OrderSubList {
    width: 94%; }
    .OrderSubList .header {
      font-size: 1.6em; } }

/*# sourceMappingURL=OrderSubList.css.map */
