/***
  COLOR PALLETTE
***/
/* Grey scale */
/* Other Colors */
/* Container colors */
/* Element colors */
/* --------------------- */
/***
  MEASUREMENTS
***/
/* Media query breakpoints */
/* Container measurements */
/* Element measurements */
/* --------------------- */
/***
  FONTS
***/
.QuoteForm {
  background-color: #F6F6F6;
  max-width: 1000px;
  margin: auto; }
  .QuoteForm .content-wrapper {
    position: relative;
    background-color: #F6F6F6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    width: 96%;
    margin: 0.5em auto;
    padding-bottom: 3em; }
    .QuoteForm .content-wrapper > form, .QuoteForm .content-wrapper > button {
      margin: 1rem; }
    .QuoteForm .content-wrapper .header {
      font-size: 1.2em;
      background-color: #D7D7D7;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      color: #000000;
      text-align: center;
      padding-top: 0.45em;
      padding-bottom: 0.45em;
      width: 100%; }
      .QuoteForm .content-wrapper .header span {
        display: inline-block;
        margin: auto;
        width: 79%;
        padding-bottom: 0.15em;
        border-bottom: solid 1px #000000;
        text-transform: uppercase; }
    .QuoteForm .content-wrapper .submit, .QuoteForm .content-wrapper .reset {
      height: 3.5em;
      font-size: 14px;
      width: 10em; }
      .QuoteForm .content-wrapper .submit, .QuoteForm .content-wrapper .reset {
        background-color: #9A9A9A;
        border: solid 1px;
        border-color: #1F1F1F;
        border-radius: 4px;
        cursor: pointer;
        display: table;
        text-align: center; }
        .QuoteForm .content-wrapper .submit span, .QuoteForm .content-wrapper .reset span {
          display: table-cell;
          vertical-align: middle;
          text-align: center; }
        .QuoteForm .content-wrapper .submit:hover, .QuoteForm .content-wrapper .reset:hover {
          background-color: #7B7B7B;
          border-color: #3D3D3D; }
      .QuoteForm .content-wrapper .submit span, .QuoteForm .content-wrapper .reset span {
        display: block;
        width: 100%; }
    .QuoteForm .content-wrapper .submit {
      position: absolute;
      bottom: 0.4em;
      right: calc(50% - 10.5em);
      background-color: #5BDA9B;
      border-color: #F6F6F6; }
      .QuoteForm .content-wrapper .submit:hover {
        border-color: #F6F6F6;
        background-color: #1DBF6E; }
      .QuoteForm .content-wrapper .submit.hidden {
        display: none; }
    .QuoteForm .content-wrapper .reset {
      position: absolute;
      bottom: 0.4em;
      left: calc(50% - 10.5em);
      background-color: #72C3F1;
      border-color: #F6F6F6; }
      .QuoteForm .content-wrapper .reset:hover {
        background-color: #2AAAF3;
        border-color: #F6F6F6; }
    .QuoteForm .content-wrapper .with-submit-hidden {
      left: calc(50% - 5em); }

.MachineNumberBlock {
  border: solid 1px #D7D7D7;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  position: relative;
  display: block;
  min-height: 3.4em; }
  .MachineNumberBlock:not(:first-child) {
    margin-top: 0.6em; }
  .MachineNumberBlock .machine-wrapper {
    margin-top: 0.4em;
    display: block; }
    .MachineNumberBlock .machine-wrapper {
      *zoom: 1; }
    .MachineNumberBlock .machine-wrapper:before, .MachineNumberBlock .machine-wrapper:after {
      content: "";
      display: table; }
    .MachineNumberBlock .machine-wrapper:after {
      clear: both; }
    .MachineNumberBlock .machine-wrapper .span-wrapper, .MachineNumberBlock .machine-wrapper .Input {
      display: block;
      float: left;
      height: 2.4em; }
    .MachineNumberBlock .machine-wrapper .Input {
      margin-left: 1em; }
      .MachineNumberBlock .machine-wrapper .Input {
        *zoom: 1; }
      .MachineNumberBlock .machine-wrapper .Input:before, .MachineNumberBlock .machine-wrapper .Input:after {
        content: "";
        display: table; }
      .MachineNumberBlock .machine-wrapper .Input:after {
        clear: both; }
      .MachineNumberBlock .machine-wrapper .Input input {
        float: left;
        border: none;
        border-radius: 4px;
        width: 50%;
        min-width: 200px;
        height: 100%;
        font-size: 16px;
        padding-left: 0.4em; }
    .MachineNumberBlock .machine-wrapper .span-wrapper {
      margin-top: 0.675em;
      height: 100%;
      text-align: right; }
      .MachineNumberBlock .machine-wrapper .span-wrapper {
        *zoom: 1; }
      .MachineNumberBlock .machine-wrapper .span-wrapper:before, .MachineNumberBlock .machine-wrapper .span-wrapper:after {
        content: "";
        display: table; }
      .MachineNumberBlock .machine-wrapper .span-wrapper:after {
        clear: both; }
      .MachineNumberBlock .machine-wrapper .span-wrapper span {
        float: right;
        margin-right: 1em;
        display: block;
        width: 44%;
        min-width: 176px; }
  .MachineNumberBlock .add-machine-number-btn {
    position: absolute;
    top: 1.175em;
    left: 0.6375em;
    width: 2.25em;
    height: 2.25em; }
    .MachineNumberBlock .add-machine-number-btn {
      background-color: #9A9A9A;
      border: solid 1px;
      border-color: #1F1F1F;
      border-radius: 4px;
      cursor: pointer;
      display: table;
      text-align: center; }
      .MachineNumberBlock .add-machine-number-btn span {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
      .MachineNumberBlock .add-machine-number-btn:hover {
        background-color: #7B7B7B;
        border-color: #3D3D3D; }
  .MachineNumberBlock .PartNumberBlock {
    position: relative;
    display: block; }
    .MachineNumberBlock .PartNumberBlock .part-wrapper {
      border: solid 1px #D7D7D7;
      border-radius: 4px;
      margin: 0.4em 1em;
      margin-left: 2.5em;
      padding: 0.2em 0;
      padding-bottom: 0.4em;
      display: block; }
      .MachineNumberBlock .PartNumberBlock .part-wrapper {
        *zoom: 1; }
      .MachineNumberBlock .PartNumberBlock .part-wrapper:before, .MachineNumberBlock .PartNumberBlock .part-wrapper:after {
        content: "";
        display: table; }
      .MachineNumberBlock .PartNumberBlock .part-wrapper:after {
        clear: both; }
      .MachineNumberBlock .PartNumberBlock .part-wrapper .span-wrapper, .MachineNumberBlock .PartNumberBlock .part-wrapper .Input {
        display: block;
        float: left;
        height: 2.4em; }
      .MachineNumberBlock .PartNumberBlock .part-wrapper .Input {
        margin-left: 1em; }
        .MachineNumberBlock .PartNumberBlock .part-wrapper .Input {
          *zoom: 1; }
        .MachineNumberBlock .PartNumberBlock .part-wrapper .Input:before, .MachineNumberBlock .PartNumberBlock .part-wrapper .Input:after {
          content: "";
          display: table; }
        .MachineNumberBlock .PartNumberBlock .part-wrapper .Input:after {
          clear: both; }
        .MachineNumberBlock .PartNumberBlock .part-wrapper .Input input {
          float: left;
          border: none;
          border-radius: 4px;
          width: 50%;
          min-width: 200px;
          height: 100%;
          font-size: 16px;
          padding-left: 0.4em; }
      .MachineNumberBlock .PartNumberBlock .part-wrapper .span-wrapper {
        margin-top: 0.675em;
        height: 100%;
        width: 9.4em;
        text-align: right; }
        .MachineNumberBlock .PartNumberBlock .part-wrapper .span-wrapper {
          *zoom: 1; }
        .MachineNumberBlock .PartNumberBlock .part-wrapper .span-wrapper:before, .MachineNumberBlock .PartNumberBlock .part-wrapper .span-wrapper:after {
          content: "";
          display: table; }
        .MachineNumberBlock .PartNumberBlock .part-wrapper .span-wrapper:after {
          clear: both; }
        .MachineNumberBlock .PartNumberBlock .part-wrapper .span-wrapper span {
          float: right;
          margin-right: 1em;
          display: block;
          width: 44%;
          min-width: 176px; }
    .MachineNumberBlock .PartNumberBlock .quantity {
      position: absolute;
      top: 0;
      height: 100%;
      left: 27em; }
      .MachineNumberBlock .PartNumberBlock .quantity .span-wrapper, .MachineNumberBlock .PartNumberBlock .quantity .Input {
        margin-top: 0.29em;
        display: inline-block;
        height: 76%; }
      .MachineNumberBlock .PartNumberBlock .quantity .span-wrapper {
        margin-right: 0.8em; }
      .MachineNumberBlock .PartNumberBlock .quantity .Input input {
        max-width: 4.6em;
        min-width: 2.4em;
        padding-left: 0.8em;
        height: 100%;
        font-size: 14px;
        border: none;
        border-radius: 4px; }
    .MachineNumberBlock .PartNumberBlock .add-part-number-btn {
      position: absolute;
      top: 1.1em;
      left: 4.25em;
      width: 2.25em;
      height: 2.25em; }
      .MachineNumberBlock .PartNumberBlock .add-part-number-btn {
        background-color: #9A9A9A;
        border: solid 1px;
        border-color: #1F1F1F;
        border-radius: 4px;
        cursor: pointer;
        display: table;
        text-align: center; }
        .MachineNumberBlock .PartNumberBlock .add-part-number-btn span {
          display: table-cell;
          vertical-align: middle;
          text-align: center; }
        .MachineNumberBlock .PartNumberBlock .add-part-number-btn:hover {
          background-color: #7B7B7B;
          border-color: #3D3D3D; }

/*# sourceMappingURL=QuoteForm.css.map */
