/***
  COLOR PALLETTE
***/
/* Grey scale */
/* Other Colors */
/* Container colors */
/* Element colors */
/* --------------------- */
/***
  MEASUREMENTS
***/
/* Media query breakpoints */
/* Container measurements */
/* Element measurements */
/* --------------------- */
/***
  FONTS
***/
@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 900;
  src: local("Roboto-Black"), url(../../fonts/Roboto-Black.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local("Roboto-BlackItalic"), url(../../fonts/Roboto-BlackItalic.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 800;
  src: local("Roboto-Bold"), url(../../fonts/Roboto-Bold.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 800;
  src: local("Roboto-BoldItalic"), url(../../fonts/Roboto-BoldItalic.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto-Italic"), url(../../fonts/Roboto-Italic.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto-Light"), url(../../fonts/Roboto-Light.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local("Roboto-LightItalic"), url(../../fonts/Roboto-LightItalic.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: medium;
  font-weight: 500;
  src: local("Roboto-Medium"), url(../../fonts/Roboto-Medium.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local("Roboto-MediumItalic"), url(../../fonts/Roboto-MediumItalic.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto-Regular"), url(../../fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: thin;
  font-weight: 200;
  src: local("Roboto-Thin"), url(../../fonts/Roboto-Thin.ttf); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 200;
  src: local("Roboto-ThinItalic"), url(../../fonts/Roboto-ThinItalic.ttf); }
.ToggledMessage {
  position: fixed;
  top: 0.45rem;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 2.8rem;
  z-index: 100; }
  .ToggledMessage .content-wrapper {
    position: relative;
    display: table;
    background-color: #9A9A9A;
    width: 99%;
    max-width: calc(1600px - 1600px*.01);
    margin: auto;
    height: 100%;
    border-radius: 4px; }
    .ToggledMessage .content-wrapper span {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      text-align: center;
      font-size: 1.2em; }
    .ToggledMessage .content-wrapper button {
      width: auto;
      height: 60%;
      position: absolute;
      top: 0.56rem;
      left: 0.56rem;
      display: table; }
      .ToggledMessage .content-wrapper button {
        background-color: #9A9A9A;
        border: solid 1px;
        border-color: #1F1F1F;
        border-radius: 4px;
        cursor: pointer;
        display: table;
        text-align: center; }
        .ToggledMessage .content-wrapper button span {
          display: table-cell;
          vertical-align: middle;
          text-align: center; }
        .ToggledMessage .content-wrapper button:hover {
          background-color: #7B7B7B;
          border-color: #3D3D3D; }
      .ToggledMessage .content-wrapper button span {
        display: table-cell;
        vertical-align: center; }
  .ToggledMessage.success .content-wrapper {
    background-color: #5BDA9B; }
  .ToggledMessage.error .content-wrapper {
    background-color: #DF6C6C; }

/*# sourceMappingURL=ToggledMessage.css.map */
