body {
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.Dashboard {
  outline: solid 1px blue;
}

.Dashboard-header {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.Dashboard-anchor {
  display: inline-block;
}