@import '../partials/variables';
@import '../mixins/button';
@import '../mixins/outline';

.Order {
  // @include outline(red, 2px);
  border: solid 1px $Order_border_color;
  border-radius: $Order_border_radius;
  margin: 0.5em 0.3em;
  padding: 0.3em;
  button {
    @include button(30%);
  }
  .status-message {
    @include outline();
  }
}

.OrderPart-wrapper-transition-enter {
  transition: all 350ms ease-in-out;
  max-height: 0;
  opacity: 0.01;
}

.OrderPart-wrapper-transition-enter-active {
  max-height: 100px;
  opacity: 1;
}

.OrderPart-wrapper-transition-leave {
  transition: all 350ms ease-in-out;
  opacity: 1;
  max-height: 100px;
}

.OrderPart-wrapper-transition-leave-active {
  max-height: 0;
  opacity: 0.01;
}