@import '../partials/variables';
@import '../mixins/micro-clearfix';
@import '../mixins/button';

.Dashboard {
  background-color: $Dashboard_bg_color;
  height: 100%;
  width: calc(100% - (2 * #{$Dashboard_padding}));
  min-width: calc(#{$App_min_width} - (2 * #{$Dashboard_padding}));
  @include micro-clearfix();
  padding: $Dashboard_padding;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  height: 37px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .content-wrapper {
    width: 100%;
    height: 100%;
    max-width: calc(#{$App_max_width} - (2 * #{$Dashboard_padding}));
    min-width: calc(#{$App_min_width} - (2 * #{$Dashboard_padding}));
    margin: $Dashboard_padding;
    margin: auto;
    position: relative;
  }
  &.admin {
    .content-wrapper {
      max-width: 968px;
    }
  }
}

.Dashboard-header {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  width: 10rem;
  height: 100%;
  // float: left;
  // width: $Dashboard_header_width;
  // height: 100%;
  margin-left: 0.765rem;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: none;
      color: $c7;
    }
  }
}

.button-container {
  display: inline-block;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0.765rem;
  // float: right;
  // width: calc(100% - #{$Dashboard_header_width} - (#{$Dashboard_padding}/2));
  // max-width: 32em;
  // min-width: 20em;
  // margin: auto;
  // height: 100%;
  // position: absolute;
  // right: 0;
}

.button-container-inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.icon-buttons-wrapper {
  display: inline-block;
  width: auto;
}

.button {
  @include button();
  width: calc(39.5% - (#{$button_border_size}*2) - 0.7em);
  min-width: 50px;
  height: 100%;
  float: left;
  height: 35px;
  &:last-child {
    margin-left: 0;
  }
  &:focus {
    outline: none;
  }
  &.dashboard-controls-button {
    margin-top: 0;
    width: calc(18% - (#{$button_border_size}*2) - 0.9em);
    background-color: transparent;
    border: none;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-wrapper {
      border-bottom: solid 1px transparent;
      display: block;
      width: 2.5rem;
      max-height: 1.6rem;
      padding: 0.18rem 0;
      color: $c7;
    }
    &:hover {
      .icon-wrapper {
        border-bottom: solid 1px $c8;
        color: $c8;
      }
    }
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
    }
  }
  &.refresh {
    // margin-left: calc(9% - (#{$button_border_size}*2) - 0.9em);
  }
  &.notifications {
    .icon-wrapper {
      position: relative;
      .new-notifs-count {
        background-color: $error_red;
        border-radius: 100%;
        color: $c1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: 100;
        padding: 0.15rem;
        position: absolute;
        right: -0.275rem;
        top: -0.4rem;
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
  &.home, &.settings {
    text-decoration: none;
    color: inherit;
  }
  &.settings {
    // margin-right: 1em;
  }
  &.logout {
    width: 7rem;
    font-size: 1em;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 6.125rem;
    span {
      border-bottom: solid 1px transparent;
      margin-top: 0.425rem;
      padding-bottom: 0.3rem;
      color: $c7;
      font-style: italic;
    }
    &:hover {
      span {
        border-bottom: solid 1px $c8;
        color: $c8;
      }
    }
    span {
      width: 74%;
      display: block;
    }
  }
}

