@import '../partials/variables';

.NotifMenu {
  position: absolute;
  top: calc(100% + 1rem);
  left: -12rem;
  width: 24rem;
  max-height: $Notif_Menu_height;
  padding: 0.25rem 0;
  background-color: $c1;
  border: solid 1px $c2;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.inner-content {
  overflow: auto;
  max-height: calc(#{$Notif_Menu_height} - 0.5rem);
}

.no-notifs {
  outline: solid 1px red;
  padding: 0.8rem 0;
  font-size: 0.8rem;
  font-style: italic;
}

.notif {
  color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  padding: 0 1.5rem;
  text-transform: capitalize;
  text-decoration: none;
  width: calc(100% - 3rem);
  height: 2.4rem;
  &:not(:first-child) {
    border-top: solid 1px $c2;
  }
  &:not(:last-child) {
    padding-bottom: 0.1rem;
  }
}

.new-wrapper, .order-id-wrapper, .order-status-wrapper {
  display: inline-block;
  font-weight: 300;
}

.order-id-wrapper {
  margin: 0 0.6rem 0 0.8rem;
}

.order-status-wrapper {
  font-style: italic;
}

.new-wrapper {
  background-color: $blue4;
  border-radius: 100%;
  color: transparent;
  width: 0.95rem;
  height: 0.95rem;
  &:not(.new) {
    background-color: $c2;
  }
}
