@import '../partials/variables';
@import '../mixins/outline';

.OrderParts-wrapper {
  border: solid 1px transparent;
  .OrderParts-titles {
    padding-top: 2.25em;
    // @include outline(blue, 3px);
    display: inline-block;
    width: 100%;
    div {
      width: calc(23% - 3px);
      &.shipped {
        width: calc(11% - 3px);
        font-size: 1em;
      }
      &.machine_serial_num {
        width: calc(22% - 3px);
      }
      &.quantity {
        width: calc(15% - 3px);
      }
      &.price-unit {
        width: calc(11.5% - 3px);
      }
      &.price-total {
        width: calc(17.5% - 3px);
      }
      display: inline-block;
      text-align: center;
      &:not(:last-child) {
        border-right: solid 1px black;
      }
      border-bottom: solid 1px black;
    }
  }
  .OrderParts-final {
    font-size: 14px;
    width: 100%;
    display: inline-block;
    div {
      display: inline-block;
      text-align: center;
      padding-bottom: 0.2em;
      margin-bottom: 0;
    }
    .spacer {
      width: calc(17.75% - 2px);
    }
    #spacer5 {
      border-right: 0;
      // padding-bottom: 0.2em;
      text-align: right;
      color: black;
      // border-bottom: solid 1px black;
      background-color: $c2;
      width: calc(11.5% - 2px);
    }
    .price {
      width: calc(17.5% - 2px);
      // border-bottom: solid 1px black;
      // border-left: solid 1px black;
      // margin-top: 0.3em;
      // padding-top: 0.3em;
      background-color: $c2;
    }
  }
  .OrderParts-discount {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    div {
      display: inline-block;
      text-align: center;
      padding-bottom: 0.25em;
      padding-top: 0.15em;
      color: black;
    }
    .spacer {
      width: calc(17.75% - 2px);
      &#spacer5 {
        // border-bottom: solid 1px black;
        text-align: right;
        background-color: $success_green;
        width: calc(11.5% - 2px);
        // border-top-left-radius: 4px;
        // border-bottom-left-radius: 4px;
      }
    }
    .discount {
      background-color: $success_green;
      // border-bottom: solid 1px black;
      width: calc(17.5% - 2px);
      // border-top-right-radius: 4px;
      // border-bottom-right-radius: 4px;
    }
  }
  .OrderParts-total {
    padding-bottom: 1em;
    font-size: 14px;
    width: 100%;
    display: inline-block;
    div {
      display: inline-block;
      text-align: center;
      padding-bottom: 0.25em;
      padding-top: 0.25em;
      margin-bottom: 0;
    }
    .spacer {
      width: calc(17.75% - 2px);
      &#spacer5 {
        // border-bottom: solid 1px black;
        text-align: right;
        background-color: $c3;
        width: calc(11.5% - 2px);
        // border-top-left-radius: 4px;
        // border-bottom-left-radius: 4px;
      }
    }
    .final {
      background-color: $c3;
      // border-bottom: solid 1px black;
      width: calc(17.5% - 2px);
      // border-top-right-radius: 4px;
      // border-bottom-right-radius: 4px;
    }
  }
  .split-order-button-wrapper {
    position: relative;
    .Confirmation {
      width: 20rem;
      height: 100%;
      button {
        border: none;
      }
    }
    .split-instructions {
      font-weight: 300;
      font-style: italic;
      .warning {
        color: $error_red;
      }
    }
  }
}

.OrderPart {
  outline: solid 1px transparent;
  line-height: 1.4em;
  height: calc(auto + 100px);
  .content-wrapper {
    font-size: 13px;
    .details {
      // @include outline(blue, 3px);
      display: inline-block;
      width: 100%;
      div {
        display: inline-block;
        width: calc(23% - 3px);
        // height: 10px;
        // background-color: red;
        &.shipped {
          width: calc(11% - 3px);
          a {
            display: block;
            width: 100%;
            cursor: pointer;
          }
          .done {
            color: transparent;
            background-image: url('../../img/done.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            min-width: 14px;
            border-bottom: none;
            &:first-child::before {
              background-color: $blue5;
              border-radius: 2px;
              content: "View Shipping Details";
              color: $c1;
              cursor: pointer;
              display: block;
              font-weight: 300;
              font-style: italic;
              padding: 0.4rem;
              position: absolute;
              top: 1rem;
              right: 1rem;
              z-index: 10;
              &:hover {
                background-color: $blue3;
              }
            }
          }
        }
        &.machine_serial_num {
          width: calc(22% - 3px);
        }
        &.part_num {
          .checkbox-and-number-wrapper {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            width: 100%;
          }
        }
        &.quantity {
          width: calc(15% - 3px);
        }
        &.price-unit {
          position: relative;
          width: calc(11.5% - 3px);
        }
        &.price-total {
          position: relative;
          width: calc(17.5% - 3px);
          .status {
            // @include outline(blue);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
            div {
              border: none;
            }
            button {
              margin: 0.1em 0;
              float: right;
              margin-right: 0.5em;
            }
          }
          .AddPriceForm {
            position: absolute;
            display: inline-block;
            top: 1.4em;
            left: 0;
            width: 100%;
            height: 4em;
            z-index: 100;
            .input-button-wrapper {
              position: relative;
              background-color: $c2;
              width: 100%;
              height: 100%;
              border: none;
              button {
                position: absolute;
                bottom: 0.2em;
                right: 0.4em;
              }
              .Input {
                border: none;
                display: block;
                position: absolute;
                top: 0.4em;
                left: 0;
                right: 0;
                width: 100%;
              }
            }
          }
        }
        text-align: center;
        &:not(:last-child) {
          border-right: solid 1px black;
        }
        border-bottom: solid 1px $c3;
      }
    }
  }
}
