@mixin button($width: 30%, $height: 100%) {
  & {
    background-color: $button_bg_color;
    border: solid $button_border_size;
    border-color: $button_border_color;
    border-radius: $button_border_radius;
    cursor: pointer;
    display: table;
    text-align: center;
    span {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    &:hover {
      background-color: $button_bg_hov_color;
      border-color: $button_border_hov_color;
    }
    &:focus {
      outline: none;
    }
  }
}
