@mixin icon_button($color, $colorHov, $fs: 1.2rem) {
  & {
    color: $color;
    border: none;
    background-color: transparent;
    border-bottom: solid 1px transparent;
    cursor: pointer;
    font-size: $fs;
  }
  &:hover {
    border-bottom: solid 1px $color;
    color: $colorHov;
    transition: 0.2s ease all;
  }
  &:focus {
    outline: none;
  }
}
