/***
  COLOR PALLETTE
***/

/* Grey scale */
$c0: #FFFFFF;
$c1: #F6F6F6;
$c2: #D7D7D7;
$c3: #B9B9B9;
$c4: #9A9A9A;
$c5: #7B7B7B;
$c6: #5C5C5C;
$c7: #3D3D3D;
$c8: #1F1F1F;
$c9: #000000;

/* MD Colors */
/* Blues */
$blue0: #E3F2FD;
$blue1: #BBDEFB;
$blue2: #90CAF9;
$blue3: #64B5F6;
$blue4: #42A5F5;
$blue5: #2196F3;
$blue6: #1E88E5;
$blue7: #1976D2;
$blue8: #1565C0;
$blue9: #0D47A1;

/* Greens */
$green0: #E8F5E9;
$green1: #C8E6C9;
$green2: #A5D6A7;
$green3: #81C784;
$green4: #66BB6A;
$green5: #4CAF50;
$green6: #43A047;
$green7: #388E3C;
$green8: #2E7D32;
$green9: #1B5E20;

/* Other Colors */
$success_green: $green3;
$success_green_highlight: $green4;
$error_red: #E57373;
$error_red_highlight: #EF5350;
$primary_blue: #72C3F1;
$primary_blue_highlight: #2AAAF3;
$warning_yellow: #FADA59;
$warning_yellow_highlight: #F0C412;

/* Container colors */
$App_bg_color: $c1;
$Dashboard_bg_color: $c2;
$Landing_bg_color: $c1;
$OrderList_bg_color: $c1;
$OrderSubList_bg_color: $c1;
$QuoteForm_bg_color: $c1;
$ToggledMessage_default_bg_color: $c4;
$ToggledMessage_success_bg_color: $success_green;
$ToggledMessage_error_bg_color: $error_red;

/* Element colors */
$button_border_color: $c8;
$button_bg_color: $c4;
$button_border_hov_color: $c7;
$button_bg_hov_color: $c5;
$OrderSubList_header_bg_color: $c2;
$OrderSubList_header_color: $c9;
$Order_border_color: $c2;
$Order_status_message_bg_color: $c6;
$Order_status_message_color: $c1;

/* --------------------- */

/***
  MEASUREMENTS
***/

/* Media query breakpoints */
$medium_screen_width: 768px;

/* Container measurements */
$App_max_width: 1600px;
$App_min_width: 600px;
$Dashboard_padding: 0.7em;
$Dashboard_header_width: 70%;
$Landing_padding_top: 4.5em;
$OrderList_max_width: 1000px;

/* Element measurements */
$button_border_size: 1px;
$button_border_radius: 4px;
$OrderSubList_border_radius: 4px;
$Order_border_radius: 4px;
$Order_status_message_border_radius: 4px;
$ShippingDetail_border_radius: 4px;

/* --------------------- */

/***
  FONTS
***/
@import '../fonts/roboto';
$main_font: 'Roboto', sans-serif;
$raleway: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$titillium: "Titillium Web", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
sans-serif;
